body{
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.container{
  border: 1px solid #76b5c5;
  /* background-color: #154c79; */
  background-color: #000000;
  color: white;
  width:  300px;
  padding: 10px;
  border-radius: 10px;
  margin: 30px;
}
.title{
  /* padding-left: 20px; */
  text-align: center;
}

.input-box{
  width: 230px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.deleteBtn{
  float: right;
  cursor: pointer;
  color: green;
  background-color: black;
}

.deleteBtn:hover{
  color: red;
  transform: scale(1.1);
  transition: all 100ms ease-in;
}

.item{
  border: 1px solid wheat;
  border-radius: 5px;
  list-style: none;
  margin-top: 7px;
  padding-left: 10px;
}

.addBtn{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}